@font-face {
    font-family: "Gilroy";
    font-weight: 100;
    src: url("./Gilroy/Gilroy-Thin.ttf") format("ttf") ;
}

@font-face {
    font-family: "Gilroy";
    font-weight: 100;
    font-style: italic;
    src: url("./Gilroy/Gilroy-ThinItalic.ttf") format("ttf") ;
}
